<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inferiority Wordle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Ubuntu+Mono&display=swap" rel="stylesheet">        <link href="styles.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <meta http-equiv="refresh" content="1; URL=/" />
    </head>
    <header th:replace="fragments.html :: header"/>
    <div class="textdiv">      
        <h3>An error has occurred. If you are not redirected, click here to return to <a href="/">Inferiority Wordle</a>.</h3>
    </div>
    <footer th:replace="fragments.html :: footer"/>
    </body>
</html>
