<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inferiority Wordle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Ubuntu+Mono&display=swap" rel="stylesheet">        
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
    </head>
    <body>
    <header th:replace="fragments.html :: header"/>
        <section class="gameboard">
                <table class="table table-hover">
                    <tbody>
                        <tr th:each="guessed : ${guesses}">
                            <td th:text="${guessed}"></td>
                        </tr>
                    </tbody>
                  </table>  
        </section>
        <section class="gameinput">
            <form action="#" 
              th:action="@{/guess}" 
              th:object="${guess}"
              th:method="post">
                <div class="errorspace"><span class="text-danger" th:if="${error != 'valid'}" th:text="${error}"></span><br></div>
                <label for="text" class="visually-hidden">Input your guess:</label>
                <input type="text" class="form-control" field="*{text}" name="text" placeholder="*****">
                <button type="submit" class="btn btn-primary">Submit Guess</button>
            </form>
        </section>
    <footer th:replace="fragments.html :: footer"/>
    </body>
</html>
